:root {
    --panel-width: 800px;
    --panel-height: 400px;
}

body {
    color: white;
    font-size: 20px;
}

div.graphics-root {
    width: var(--panel-width);
    height: var(--panel-height);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.75);
}

div.graphics-root > div {
    width: 100%;
}

div.upper-row {
    display: flex;
    font-size: 32px;
    height: 52px;
}

div.upper-row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.25rem;
}

div.id {
    background-color: rgba(0,0,0,0.5);
}

div.content-wrapper {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

div.robot-name {
    background-color: rgba(0,0,0,0.5);
    flex: 1;
    font-size: 20px;
}

div.content {
    display: flex;
    flex-direction: column;
}

div.content-row {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
}

div.content-row > div:nth-child(1) {
    width: 100px;
}

div.content-row > div:nth-child(2) {
    flex: 1;
    padding-left: 1rem;
    box-sizing: border-box;
    border-left: solid 1px white;
}