#container {
    height: 60px;
    width: 300px;

    background-color: #AF1E21;

    clip-path: polygon(0 100%, 60px 0, 100% 0, 100% 100%);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#container.y {
    background-color: #1C3460;
}

#margin {
    width: 30px;
}

#course-box {
    height: 100%;
    width: 150px;
    font-size: 25px;
    line-height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#course-box > div {
    width: 150px;
    height: 50px;
}

#course-box > div > div {
    height: 50px;
    width: 100%;
}