#container {
    height: 60px;
    width: 300px;

    background-color: #fff;

    clip-path: polygon(0 100%, 60px 0, 100% 0, 100% 100%);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

#margin {
    width: 30px;
}

#timer-box {
    height: 100%;
    width: 150px;
    font-size: 35px;
    line-height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#timer-box > div {
    width: 50px;
    height: 38px;
}

#timer-box > div > div {
    height: 38px;
    width: 100%;
}

#timer-box > #colon {
    width: 35px;
}