:root {
    --panel-width: calc(200px + var(--point-table-item-width) * var(--point-table-item-num));  /* 変数をJSで書き換えて計算 */
    --panel-height: calc(var(--title-height) + var(--row-height) * var(--row-num));  /* 変数をJSで書き換えて計算 */

    --title-height: 60px;
    --row-height: 75px;
    --point-table-item-width: 50px;

    --row-num: 1;   /* JSで書き換え */
    --point-table-item-num: 5;  /* JSで書き換え */
}

body {
    color: white;
    font-weight: 500;
}

div.graphics-root {
    width: var(--panel-width);
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.title {
    font-size: 40px;
    height: var(--title-height);
    line-height: var(--title-height);
    padding: 0 12px;
    box-sizing: border-box;
}

div.graphics-root>div {
    width: 100%;
}

div.row {
    width: 100%;
    height: var(--row-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.row>div {
    height: 100%;
}

div.graphics-root>div:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.28);
}

div.icon-box {
    width: var(--row-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.icon {
    width: 30px;
    height: 30px;
}

div.icon.round {
    border-radius: 50%;
}

/*div.icon.square {

}*/

div.icon.diamond {
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
}

div.point-info-box {
    background-color: rgba(255, 255, 255, 0.1);
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.point-info {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 40px;
    gap: 8px;
}

div.point-info > div:nth-child(1) {
    width: 42px;
    text-align: right;
}

div.point-info > div:nth-child(3) {
    width: 24px;
    text-align: left;
}

div.point-total {
    font-size: 25px;
}

div.point-order-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.point-table {
    height: 100%;
    font-size: 35px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.point-table-item {
    width: var(--point-table-item-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

div.point-table-item.feature {
    border-bottom: 10px solid transparent;
    padding-top: 10px;
}