:root {
    --panel-width: 280px;
    --panel-height: 320px;
}

body {
    color: white;
}

div.graphics-root {
    width: var(--panel-width);
    height: var(--panel-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.graphics-root > div {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

div.upper-row {
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 500;
}

div.id-wrapper {
    width: 80px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.rule-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.robot-wrapper {
    height: 32px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    padding-left: 1px;
}

div.points-wrapper {
    background-color: rgba(41, 41, 41, 0.76);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: 500;
    position: relative;
}

div.points-box {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

div.max-points {
    font-size: 40px;
}

div.retry-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: 300;
    color: rgba(19, 19, 19, 0.76);
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 100px;
}

div.retry-wrapper div.retryLive {
    margin-left: 3px;
    width: 14px;
    height: 26px;
    line-height: 26px;
}

div.retry-wrapper div.retryLive > div {
    width: 14px;
    text-align: center;
}

div.timer-wrapper {
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.7);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.timer {
    font-size: 70px;
    display: flex;
    justify-content: center;
    gap: 9px;
    align-items: baseline;
}

/*div.timer span.timer-min {
    display: inline-block;
    text-align: right;
    min-width: 42px;
}

div.timer span.timer-sec {
    display: inline-block;
    text-align: center;
    width: 85px;
}*/

div.timer span.timer-ms {
    display: inline-block;
    text-align: left;
    font-size: 35px;
    width: 40px;
}

div.logo-wrapper {
    height: 54px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 5px;*/
}

div.logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}