:root {
    --panel-width: 640px;
    --panel-height: 360px;
    --mask-size: 1000px;
}



/* graphics/test1/style.css */
html,
body {
    margin: 0;
    padding: 0;
    background: transparent;
    height: 100%;
}

.graphics-root {
    width: 100%;
    height: 100%;
    place-items: center;
    background-color: aquamarine;
}

.box {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 16px 20px;
    border-radius: 8px;
    font-family: ui-sans-serif, system-ui, -apple-system, "Noto Sans JP", sans-serif;
}