.kv {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.kv span {
    opacity: .8;
}

.kv strong {
    font-size: 18px;
}

.ruleline {
    align-items: flex-start;
}

.rulecell {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
}