:root {
    --panel-width: 320px;

    /* 以下は全体のwrapper */
    --panel-height: 800px;
}

body {
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
}

diagonal-mask.ranking-title-wrap {
    position: absolute;
    left: 0;
    top: 0;
}

div.ranks {
    position: absolute;
    top: 150px;
    left: 0;
}

div.ranking-title {
    width: var(--panel-width);
    height: 115px;
    display: flex;
    flex-direction: column;
}

div.title-box {
    width: 100%;
    height: 75px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.rule-box {
    width: 100%;
    flex: 1;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.mask-ranking-title-wrap {
    --panel-height: 115px;
}

.mask-rank-content-wrap {
    --panel-height: 55px;
}

div.rank-content {
    width: 100%;
    height: 55px;
    background: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.rank-content > div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    font-size: 25px;
    font-weight: 500;
}

div.rank-content div.rank-pos, div.rank-content div.score {
    background-color: rgba(15,15,15,0.9);
}

div.rank-content div.score {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.rank-content div.score > div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 7px;
}

div.rank-content div.score > div >  div:first-child {
    font-size: 35px;
}

div.rank-content div.score > div >  div:last-child {
    font-size: 16px;
}

div.rank-content div.rank-pos {
    width: 32px;
}

div.rank-content div.id, div.rank-content div.time {
    background-color: rgba(35, 35, 35, 0.8);
}

div.rank-content div.id {
    width: 72px;
}

div.rank-content div.time {
    flex: 1;
}