:root {
    --panel-width: 320px;

    /* 以下は全体のwrapper */
    --panel-height: 800px;
    --mask-size: 1200px;
}

body {
    color: white;
    font-weight: 500;
}

div.ranking-title {
    width: var(--panel-width);
    height: 115px;
    display: flex;
    flex-direction: column;
}

div.title-box {
    width: 100%;
    height: 75px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.rule-box {
    width: 100%;
    flex: 1;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}