:root {
    --panel-width: 320px;

    /* 以下は全体のwrapper */
    --panel-height: calc(var(--title-height) + var(--title-margin) + var(--rank-height) * var(--rank-item-num));


    --title-height: 115px;
    --title-margin: 35px;
    --rank-height: 55px;

    --rank-item-num: 2; /* JSで書き換えて計算 */
}

body {
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
}

diagonal-mask.ranking-title-wrap {
    position: absolute;
    left: 0;
    top: 0;
}

div.ranks {
    position: absolute;
    top: calc(var(--title-height) + var(--title-margin));
    left: 0;

    display: flex;
    flex-direction: column;
}

div.ranking-title {
    width: var(--panel-width);
    height: var(--title-height);
    display: flex;
    flex-direction: column;
}

div.title-box {
    width: 100%;
    height: 75px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.rule-box {
    width: 100%;
    flex: 1;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.mask-ranking-title-wrap {
    --panel-height: var(--title-height);
}

.mask-rank-content-wrap {
    --panel-height: var(--rank-height);
}

div.rank-content {
    width: 100%;
    height: var(--rank-height);
    background: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.rank-content>div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    font-size: 25px;
    font-weight: 500;
}

div.rank-content>div:nth-child(odd) {
    background-color: rgba(15, 15, 15, 0.9);
}

div.rank-content>div:nth-child(even) {
    background-color: rgba(35, 35, 35, 0.8);
}

section.rank-card:nth-child(even) div.rank-content>div:nth-child(odd) {
    background-color: rgba(90, 90, 90, 0.6);
}

section.rank-card:nth-child(even) div.rank-content>div:nth-child(even) {
    background-color: rgba(150, 150, 150, 0.6);
}

div.rank-content div.score {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.rank-content div.score>div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 7px;
}

div.rank-content div.score>div>div:first-child {
    font-size: 35px;
}

div.rank-content div.score>div>div:last-child {
    font-size: 16px;
}

div.rank-content div.rank-pos {
    width: 32px;
}

div.rank-content div.id {
    width: 72px;
}

div.rank-content div.time {
    flex: 1;
}